@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Montserrat:wght@300&family=Orbitron&family=Work+Sans:wght@300&display=swap');
body {
  text-align: center;
  background-color: rgb(41, 41, 41);
  color: #f3f3f3;
  font-family: monospace, 'orbitron';
}